.Login {
    width: 100%;
    height: 100%;
    @include flex-center;

    .form-wrap {
        @include flex-center;
        width: 50vw;
        height: 50vh;
        background-color: #EEEEEE;

    }
}